@import "@yext/pages-components/style.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

.centered-container {
  @apply mx-auto px-5 md:px-14 xl:max-w-screen-xl 2xl:max-w-screen-2xl;
}

section {
  @apply mt-8 mb-16;
}

.primary-cta {
  @apply bg-sky-500 hover:bg-sky-600;
}

.secondary-cta {
  @apply bg-sky-700 hover:bg-sky-800;
}

h1 {
  @apply text-4xl py-8 font-bold;
}

h2 {
  @apply text-3xl py-6;
}

h3 {
  @apply text-2xl py-4;
}

.HoursStatus {
  @apply font-bold;
}

.mapPin {
  @apply w-12 h-12 drop-shadow-md;
  transition: all .2s ease-in-out;
}

.mapPin:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.top-shadow {
  box-shadow: 0 -4px 6px -1px rgba(0, 0, 0, 0.1), 0 -2px 4px -1px rgba(0, 0, 0, 0.06);
}

.primary-cta {
  @apply rounded-full w-full sm:w-auto bg-black px-8 py-2.5 text-lg font-semibold text-white shadow-sm hover:bg-gray-600 hover:duration-200 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-600;
}